.about{
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% auto;

}

.about_header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_title{
    font-size: 60px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
}

.about_text{
    font-size: 20px;
    font-weight: 200;
}

.about_info{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.about_involved{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.about_disclaimer{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}