.events{
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }

.banner.events {
    background: url('../images/worship.jpg');
    background-size:cover;
    background-position: center;
}

.events_title{
    font-size: 60px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

.eventsContent {
    height: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}

.week {
    height:150px;
    display: flex;
    flex-direction: row;
}

.weekTitle {
    margin-bottom: 20px;
}

.square {
    width: 150px;
    height: 150px;
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
    border-width: 2px;
}

.square.first {
    border-left: solid white;
}

.day {
    border-bottom: solid white;
    border-width: 2px;
    height: 25%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.retreat {
    margin-top: 50px;
    font-size: 30px;
}