nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(55, 55, 55, 0.5);
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0%;
}

.nav-links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
}

.link{
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: 200;
}

.link:hover{
    color:gray;
    transition: 0.5s ease;
}

.link-active {
    /* border-bottom: 5px solid gray; */
    color:gray;
    transition: 0.5s ease;
  }
/* .link:visited {
    color: white;
} */