.support {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner.support {
  background: url("../images/cross.jpg");
  background-size: cover;
  background-position: center 20%;
}

.support_title {
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.mission {
  font-size: 20px;
  width: 60%;
  font-weight: 200;
}

.donation {
  margin-top: 75px;
  margin-bottom: 75px;
  font-size: 40px;
  font-weight: 300;
}

.contact {
  position: relative;
  font-size: 15px;
}

.contact:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.contact:before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0%;
  background-color: #bbbbbb;
  visibility: hidden;
  transform: scaleX(0);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.contact:hover {
  color: #bbbbbb;
}

.contact_container {
  width: 189px;
  margin: 0 auto;
}
