.about {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 2% auto; */
}

.banner.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hands.jpg");
  background-size: cover;
  background-position: center;
  /* transition: all .5s; */
}
/* 
.banner.about:hover {
    transform: scale(1.05);
} */

.about_title {
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.intro {
  width: 80%;
  display: flex;
}

.video {
  padding-top: 50px;
}

.divAbout {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

/* The Underliner */
.linkExec {
  position: relative;
  font-size: 40px;
  width: 100%;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.3s;
}
/* 
.linkExec:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.linkExec:before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0%;
  background-color: #bbbbbb;
  visibility: hidden;
  transform: scaleX(0);
  width: 100%;
  transition: all 0.5s ease-in-out;
} */

.linkExec:hover {
  color: #bbbbbb;
}

.about_underliner {
  width: 1000px;
  margin: 0 auto;
}
/* End of The Underliner */

.about_subtitle {
  font-size: 35px;
  font-weight: 200;
  padding-bottom: 50px;
}

.about_text {
  font-size: 20px;
  font-weight: 200;
  width: 30%;
  margin: 10%;
}

.gcf {
  text-decoration: underline;
  display: inline;
}

.disclaimer {
  font-size: 15px;
  font-weight: 200;
}

.divAbout.disclaimer {
  margin-bottom: 40px;
}
