.connect {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/connection.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.connect_title {
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.connectBody {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: auto;
}

.connectBody::-webkit-scrollbar {
  display: none;
}

.connectCard {
  width: 60%;
}

.sideConnect {
  height: 300;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.socialMedia {
  height: 250px;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  margin-top: 30px;
}

.socialMediaText {
  margin-top: 0;
  font-weight: 200;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.socialMediaIcons {
  display: flex;
  flex-direction: row;
}

.social {
  display: flex;
  align-items: center;
  height: 70px;
  width: 70px;
  font-size: 70px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.social:hover {
  /* color: rgb(29, 98, 57);
   */
  color: #999999;
}

.sideEmail {
  height: 200px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emailText {
  margin-top: 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.emailContent {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 200;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.emailIcon {
  font-size: 70px;
  color: white;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.emailIcon:hover {
  /* color: rgb(29, 98, 57); */
  color: #999999;
}

@media screen and (max-width: 700px) {
  .connectBody {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .connectCard {
    width: 100%;
  }
  .sideConnect {
    width: 80%;
    justify-content: space-around;
    height: 100%;
  }
  .socialMedia {
    margin-top: 50px;
  }
  .sideEmail {
    margin-top: 10px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .connectBody {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .connectCard {
    width: 100%;
  }
  .sideConnect {
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
  }
  .socialMedia {
    margin-top: 10px;
  }
  .sideEmail {
    margin-top: 10px;
  }
}
