.events {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 200;
}

.banner.events {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/worship.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.events_title {
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.eventsContent {
  padding-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.scheduleWeek {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weekContainer {
  width: 100%;
  margin-left: 60px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weekSubContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 60px;
}

.day {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777777;
  /* width: 200px; */
}

.dayContainer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.event {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 20px;
  height: 60px;
  width: 100%;
}

.eventContainer {
  width: 250px;
  text-align: end;
}

.eventSub {
  height: 25px;
}

.weekTitle {
  margin-bottom: 30px;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
.calendar_container {
  margin: auto;
  width: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.calendar_underliner {
  border-bottom: 2px solid white;
}

.specialEvents {
  width: 50%;
  margin: 30px;
}

.SmallGroupJoin {
  margin-bottom: 80px;
  font-size: 20px;
}

.retreats {
  font-size: 30px;
  width: 100%;
}

.retreat {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.retreatTitle {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 30px;
}

.retreatPic {
  width: 630px;
  height: 400px;
}

.retreatPic.Servants {
  background: url("../images/servant.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.retreatPic.Mens {
  background: url("../images/mens_retreat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.retreatPic.Womens {
  background: url("../images/womens.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.retreatPic.Spring {
  background: url("../images/spring.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.retreatPic.Harvest {
  background: url("../images/harvest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .eventsContent {
    flex-direction: column;
  }
  .scheduleWeek {
    width: 100%;
  }
  .specialEvents {
    width: 95%;
  }
  .retreatPic {
    width: 100%;
    height: 250px;
  }
  .dayContainer {
    font-size: 40px;
  }
  .weekContainer {
    padding-left: 20px;
    margin-left: 0px;
  }
  .eventContainer {
    /* width: 200px; */
  }
}

@media screen and (max-width: 900px) {
  .scheduleWeek {
    width: 98%;
  }
  .weekContainer {
    padding-left: 0px;
  }
}
