body {
  background-color: rgb(20, 20, 20);
  height: 100%;
}
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/gcfhome.png");
  background-size: cover;
  background-position: center;

  /* top: 50%;
  left: 50%; */
  height: 100vh;
  width: 100%;
  /* transform: translate(-50%, -50%); */
  color: white;
  text-align: center;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_title {
  font-size: 60px;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  width: 90%;
}

.homeBottom {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% auto;
}

.bibleVerse {
  font-size: 45px;
  font-weight: 200;
  width: 90%;
  margin-bottom: 100px;
}

.subSection2 {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  background-color: #222222;
}

.width_control {
  margin: 0 auto;
  width: 80%;
}

.subsection_title {
  font-size: 50px;
  font-weight: 200;
}

.subSection {
  /* margin: 0px; */
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}

.subSection3 {
  margin: 30px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: rgb(20, 20, 20);
}

.textSection {
  width: 100%;
}

.textSection2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.linkSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.linkSection.aboutOne {
  padding-left: 100px;
}
.linkSection.greatCom {
  width: 70%;
}

.link {
  text-decoration: none !important;
}

.redirectButton {
  /* background-color: rgb(10, 10, 10, 1); */
  background-color: rgb(255, 255, 255, 0.2);
  /* border: none; */
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-align: center;
  display: inline;
  font-size: 18px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
  transition: 0.3s;
}

.redirectButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  color: black;
}

.home_text {
  font-size: 35px;
  font-weight: 200;
  width: 70%;
}

.home_text2 {
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  /* justify-content: center; */
  margin-left: 30px;
}

.home_text3 {
  font-size: 30px;
  font-weight: 200;
}

.commission_text {
  font-size: 45px;
  font-weight: 200;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 50%;
  /* padding: 50px; */
}

@media screen and (max-width: 750px) {
  .home_text3 {
    font-size: 25px;
    padding-right: 20px;
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
  }
  .bibleVerse {
    font-size: 30px;
  }
  .textSection2 {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .home_text2 {
    padding-top: 30px;
    margin-left: 0px;
  }
  .linkSection.aboutOne {
    padding-left: 0px;
  }
  .linkSection.greatCom {
    margin-top: 20px;
  }
  .width_control {
    width: 90%;
  }
}
