body {
  background-color: rgb(20, 20, 20);
  height: 100%;
}
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/gcfhome.png");
  background-size: cover;
  background-position: center;
  /* top: 50%;
  left: 50%; */
  height: 100vh;
  width: 100%;
  /* transform: translate(-50%, -50%); */
  color: white;
  text-align: center;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_title {
  font-size: 60px;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
}

.homeBottom {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2% auto;
}

.bibleVerse {
  font-size: 45px;
  font-weight: 200;
  margin: 2%;
  margin-bottom: 100px;
}

.subSection2 {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  background-color: #222222;
}

.width_control {
  margin: 0 auto;
  width: 70%;
}

.subsection_title {
  font-size: 50px;
  font-weight: 200;
}

.subSection {
  margin: 20px;
  width: 100%;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #222222;
}

.subSection3 {
  margin: 30px;
  width: 100%;
  height: 400px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(20, 20, 20);
}

.textSection {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

.linkSection {
  width: 33%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  text-decoration: none !important;
}

.redirectButton {
  /* background-color: rgb(10, 10, 10, 1); */
  background-color: rgb(255, 255, 255, 0.2);
  /* border: none; */
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-align: center;
  display: inline;
  font-size: 18px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
  transition: 0.3s;
}

.redirectButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  color: black;
}

.home_text {
  font-size: 35px;
  font-weight: 200;
  width: 70%;
}

.home_text2 {
  font-size: 20px;
  font-weight: 200;
  width: 33%;
  justify-content: center;
}

.home_text3 {
  font-size: 30px;
  font-weight: 200;
}

.commission_text {
  font-size: 45px;
  font-weight: 200;
  /* margin: 0 auto; */
  margin: auto;
  width: 33%;
  justify-content: center;
  padding: 50px;
}
