.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(55, 55, 55, 0);
  /* background-color: rgba(146, 146, 146, 0.5); */
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 9999;
}

.nav.active {
  /* background-color: rgb(55, 55, 55, 0.9); */
  animation-fill-mode: forwards;
  animation: colorChange 0.5s;
  background-color: rgba(41, 40, 40, 0.7);
}

@keyframes colorChange {
  from {
    background-color: rgb(55, 55, 55, 0);
  }
  to {
    background-color: rgba(41, 40, 40, 0.7);
  }
}

.leftCorner {
  margin-left: 20px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: auto; */
}

.logo {
  background: url("../images/gcf_logo_clear.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 65px;
  width: 70px;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  margin-right: 20px;
  /* margin-right: auto; */
}

.link {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}

/* .link:hover {
  color: gray;
  transition: 0.5s ease;
} */

.link-active {
  color: #bbbbbb;
  transition: 0.5s ease;
}

.navtext {
  position: relative;
  font-size: 17px;
}

.link:hover .navtext:before {
  visibility: visible;
  transform: scaleX(1);
}

.navtext:before {
  content: "";
  position: absolute;
  height: 1px;
  top: 120%;
  left: 0%;
  background-color: #bbbbbb;
  visibility: hidden;
  transform: scaleX(0);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.link:hover .navtext {
  color: #bbbbbb;
}

.about_container {
  width: 55px;
  margin: 0 auto;
}

.staff_container {
  width: 95px;
  margin: 0 auto;
}

.ministry_container {
  width: 85px;
  margin: 0 auto;
}

.event_container {
  width: 61px;
  margin: 0 auto;
}

.support_container {
  width: 73px;
  margin: 0 auto;
}

.connect_container {
  width: 77px;
  margin: 0 auto;
}
