.staff {
  /* background-color: #222222; */
}

.staff2 {
  background-color: #222222;
}

.staff.content {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  /* background-color: #222222; */
}

.banner.staff {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pastor\ ij.jpg");
  background-size: cover;
  background-position: center 30%;
}
.staff_title {
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.section_container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
  /* background-color: #222222; */
}

.section_subcontainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.staff_subtitle {
  font-size: 60px;
  color: white;
  font-weight: 200;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.staff_underliner {
  border-bottom: 2px solid white;
}

.staff_container {
  margin: auto;
  width: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.pastorij_container {
  display: flex;
  padding-left: 30px;
  /* align-items: center; */
  justify-content: center;
}
.staff_text {
  width: 50%;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  padding-left: 30px;
  color: white;
}
.pastorij_image {
  width: 350px;
  transition: 0.5s;
}
.exec_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  flex: 1 0 25%;
  align-items: center;
}

.exec_image {
  width: 350px;
  transition: 0.5s;
  border-radius: 50%;
  padding: 20px;
}
.exec_text {
  width: 350px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  color: white;
}
.exec {
  display: flex;
  flex-direction: row;
}
/* .pastorij_image:hover, .exec_image:hover {
    width: 42%;
    transition: 0.5s;
} */
@media screen and (max-width: 800px) and (min-width: 601px) {
  .pastorij_image {
    width: 500px;
  }
  .pastorij_container {
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
  }
  .staff_text {
    padding-left: 0px;
    padding-top: 15px;
    width: 100%;
  }
  .exec_image {
    width: 250px;
  }
  .staff_subtitle {
    font-size: 45px;
  }
  .exec_text {
    width: 250px;
  }
}
@media screen and (max-width: 600px) {
  .pastorij_container {
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
  }
  .staff_text {
    padding-left: 0px;
    padding-top: 15px;
    width: 100%;
  }
  .exec_image {
    width: 250px;
  }
  .staff_subtitle {
    font-size: 45px;
  }
  .exec_text {
    width: 250px;
  }
}
