.support {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner.support {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/nonkorean4.jpg");
  background-size: cover;
  background-position: center 15%;
}

.support_title {
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.mission {
  font-size: 20px;
  width: 60%;
  font-weight: 200;
  margin-top: 40px;
}

/* Donation */
.donation_link {
  text-decoration: none;
  color: white;
}
.donation {
  position: relative;
  margin-top: 50%;
  margin-bottom: 50%;
  font-size: 40px;
  font-weight: 200;
}

.donation:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.donation:before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0%;
  background-color: #bbbbbb;
  visibility: hidden;
  transform: scaleX(0);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.donation:hover {
  color: #bbbbbb;
}

.donation_container {
  width: 245px;
  margin: 0 auto;
}

/* Contact */
.contact {
  position: relative;
  font-size: 15px;
}

.contact:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.contact:before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0%;
  background-color: #bbbbbb;
  visibility: hidden;
  transform: scaleX(0);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.contact:hover {
  color: #bbbbbb;
}

.contact_container {
  width: 189px;
  margin: 0 auto;
}

.supportListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 100px;
}
.supportList {
  font-size: 20px;
  width: 60%;
  font-weight: 200;
  margin-top: 5%;
}

@media screen and (max-width: 1000px) {
  .supportListContainer {
    flex-direction: column;
  }
  .supportList {
    font-size: 16px;
    width:85%;
  }
  .mission {
    width: 80%;
  }
}
